{% extends 'bookshop/base.html' %}
<title>{% block title %} About Us | Bookshop {% endblock %}</title>
{% block content %}
<div style="font-family:jokernam; font-weight:italic; font-size:150%; ">
    Since its fuse in 2020, Company Name has cut a specialty for itself in the youngsters’ books section of the distributing business. We have some expertise in books implied for offspring of various ages. The wide scope of books offered by us incorporates fantasies, moral stories, showed story books, reference books, general learning books, sentence structure books, shading books, action books, sticker books and some more. Every one of these books are accessible in both English and Hindi.

Our point is to give significant, charming and also animating substance to youngsters that goes much past their normal course books.With this point in view, we treat each book as a work of adoration. Every one of our books are broadly examined, attentively composed and delightfully planned.

Development and experimentation are indispensable to our methodology towards books. Our broad gathering of books– picture books, sticker books, story and sticker books, 3D Books, spring up books, innovative idea books, curiosity books, topic based books, movement books, and so on – are a declaration to this methodology. This encourages us in making energizing and testing items for youngsters.

We earnestly trust that books can be an extraordinary wellspring of motivation with the ability to impact and shape youthful personalities. Our books not simply go for building up the scholarly capacities of youngsters, rather they are made with the aim of contributing towards their all encompassing improvement.

</div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="ps-block--contact">
                                        <h3>FOLLOW US</h3>
                                        <ul class="ps-social">
                                            <li><a href="https://www.facebook.com/pravesh.maurya.18847"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/Praveshm783"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/pravesh_maurya783/"><i class="fa fa-feed"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}